DB_USER=user
DB_PASSWORD=abc123
DB_NAME=db

AUTHENTICATOR_PASSWORD=abc123

SERVER_NAME=example.com:8080

PISA_DATA_DIR=/opt/pisa

# Set to 0.0.0.0 to expose on all interfaces (public access)
LISTEN_ADDR=127.0.0.1
